
:root {
  --white:#FEFEFE;
  --blue:#0077fff3	;
  --black: #444444;
  --gray:#d3d3d3;
  --gray-light:#f8f8f8;
  --gray-dark:#616161;
  --red: #FF2846;
  --red-dark: #7b0701;
  --green:#129c12;
  
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#app {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: normal;
}

body{
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;

}

/*scroll bar*/
::-webkit-scrollbar {
  width: 0.3rem;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px var(--gray); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: var(--black); 
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--black); 
}
